<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>crs</param-name>
        <param-value>www.hpesindiaus.com</param-value>
    </context-param>
    <!--<error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>-->
    <!--<filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>Web.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>   means for all request-->
        <!--<url-pattern>/secure/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>Web.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyHttpServlet</servlet-name>
        <servlet-class>Web.MyHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>Web.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>Web.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Web.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Panel</servlet-name>
        <servlet-class>Web.Control_Panel</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>mukeshkumar@hp.com</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SendCookie</servlet-name>
        <servlet-class>Web.SendCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveCookie</servlet-name>
        <servlet-class>Web.ReceiveCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save_password</servlet-name>
        <servlet-class>Web.save_password</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/callfs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyHttpServlet</servlet-name>
        <url-pattern>/callss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Panel</servlet-name>
        <url-pattern>/cp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCookie</servlet-name>
        <url-pattern>/SendCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveCookie</servlet-name>
        <url-pattern>/ReceiveCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save_password</servlet-name>
        <url-pattern>/save_password</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>first.html</welcome-file>
        <!-- <welcome-file>index.jsp</welcome-file>-->
    </welcome-file-list>
</web-app>
